@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oswald', sans-serif;
  background-color: #f4f4f9;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}
#pre-loader {
  width: 90vw;
  margin: 100px auto;
}
