@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oswald', sans-serif;
  background-color: #1f253d;
  box-sizing: border-box;
}
